.wrapper{
  height: 70px; 
  top: 0px; 
  width: 100%;   
  border: 1.2px black solid;   
  border-radius: 10px; 
  display: flex;  
  justify-content: flex-end; 
  .display {
    margin-right: 30px;  
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center; 
    .icon-image { 
      height: fit-content;
      width: fit-content;  
      // background-color: magenta; 
      font-size: 40px !important;      
    }
    .user {
      font-size: 14px;
      padding-top: 2px;  

    }
  }
}