.wrapper{
  margin-top: 5px;  
  margin-left: 20px; 
  height: 100vh;   
  width: 230px;         
  border: 1.4px black solid;     
  border-radius: 40px; 
  .links { 
    margin-top: 40px;
    .my-task {
      margin-top: 10px;  
    }
    .profile, .my-task {
      width: 100%; 
      display: flex;
      flex-direction: column;
      align-items: center;
      & > div:first-child {
        padding: 5px;  
      }
      & > div:last-child {  
        margin-left: 40px;   
        & > div {
          padding: 5px; 
          &:last-child {
            margin-top: 5px;    
          } 
        }
      } 
    }
  } 
}  