.wrapper{
  margin-top: 10px; 
  margin-left: 20px; 
  height: 100vh;   
  width: 230px;     
  border: 1.4px black solid;     
  border-radius: 10px; 
  .links {  
    margin-top: 55px;   
    display: flex;
    flex-direction: column;
    .profile > div { 
      border: 1px solid; 
      margin-left: 20px; 
      border-color: blue;   
      display: flex; 
      flex-direction: column;
      justify-content: space-between; 
    }
  } 
}  